.container {
    width: 1000px;
    margin: 0 auto;
  }

.header__logo {
    display: flex;
    align-items: center;
  }
  
  .header__logo-img {
    width: 91px;
    height: 72px;
  }
  
  .header__logo-text {
    display: inline-block;
    padding-left: 22px;
    font-weight: 600;
    font-size: 48px;
    color: #7e72f2;
  }