.product__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  
  .products__search-title {
    font-size: 18px;
    font-weight: 400;
  }
  
  .products__search-btn {
    border-radius: 8px;
    background-color: #6f64f8;
    width: 46px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .products__search-btn i {
    color: white;
  }


.form__search-input {
    position: relative;
    line-height: 62px;
  }
  
  .search-input {
    height: 62px;  
    width: 100%;
    border-radius: 8px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 0 32px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    margin-bottom: 28px;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .form__search-input label {
    position: absolute;
    right: 32px;
    color: #606060;
  
  }